#include "resourceMui.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table en-US
//

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    IDS_WINDOWTITLE             "solarTemperaturLoggerTool"
    IDS_COL0LABEL               "Local time"
    IDS_COL1LABEL               "Temperature °C"
    IDS_WAITINGFORDATA          "Now start 'Send buffer' from the solarTemperaturLogger. Waiting for data ..."
    IDS_MSGBOXINFOTITLE         "Information"
    IDS_NOSERIALFOUND           "No serial adapters found "
    IDS_NOSERIALSELECTED        "No serial adapter selected"
    IDS_NOVALIDSERIALSELECTED   "No valid serial adapter selected"
    IDS_ERROROPEING             "Error opening"
    IDS_FAKECH340WARNING        "Fake CH340 with driver newer than 3.6.2021.12?"
    IDS_ERRORSERIALALLOCMEM     "Error allocating memory for"
    IDS_ERRORADAPTERALLOCMEM    "Error allocating memory for detecting serial adapters"
    IDS_INFOIMPORTFIRST         "Importing of datasets is needed before\nsaving the datasets as a CSV file"
    IDS_FILESAVEFILTER          "CSV files (*.csv)\0*.csv\0All files  (*.*)\0*.*\0\0"
    IDS_ERRORCOPYFILE           "Copy error"
    IDS_TO                      "to"
    IDS_FILE                    "File"
    IDS_WITH                    "with" 
    IDS_BYTESTOGIG              "bytes is too big"
    IDS_ISNOT16BE               "has no UTF16 big endian format"
    IDS_MSGBOXERRORTITLE        "Error"
    IDS_DATASETS                "Datasets"
    IDS_MIN                     "Min"
    IDS_MAX                     "Max"
    IDS_AVG                     "Average"
    IDS_ERRORGETFILESIZE        "Error detecting file size of"
    IDS_MENUIMPORT              "&Import"
    IDS_MENUSAVE	            "&Save"
    IDS_MENUOPENFOLDER	        "&Open program folder"
    IDS_MENUINFO	            "Programin&fomation"
    IDS_MENUEXIT	            "&Exit"
    IDS_MENUUPDATESERIAL	    "Update serial &adapters"
    IDS_MENUSTATICSERIAL	    "Statically offer serial adapters &1-20"
    IDS_MENUDEVICEMANAGER	    "&Devicemanager"
    IDS_MENUDATASETS	        "&Datasets"
    IDS_MENUEXTRAS	            "&Extras"
    IDS_MENUCOPYSELECTED        "&Copy selected line"
    IDS_TOOLTIPSERIALADAPTER    "Select the serial adapter to which the solarTemperaturLogger is connected"
    IDS_LOG                     "Log"
    IDS_ABORT                   "Cancel"
    IDS_ABORTPENDING            "Cancel pending. Waiting for end of thread"
    IDS_MSGBOXWARNINGTITLE      "Warning"
    IDS_IMPORTTIMEOUT           "Timeout exceeded while import datasets"
    IDS_IMPORTSERIALERROR       "Serial error while importing datasets"
    IDS_IMPORTFILEERROR         "File error while importing datasets"
    IDS_IMPORTABORTED           "Import for dataset canceled"    
    IDS_TOOLTIPIMPORT           "Import datasets from the solarTemperatureLogger device"
    IDS_TOOLTIPSAVE             "Save datasets as CSV file"
    IDS_TOOLTIPPROGINFO         "Programinformation"
    IDS_TOOLTIPEXIT             "Exit program"
    IDS_TOOLTIPUPDATESERIAL     "Update serial adapters"
    IDS_PROGINFO                "Filetransfer tool for the \nsolarTemperaturLogger-Project\n\nhttps://github.com/codingABI/solarTemperatureLogger\n\n©2024-2025 codingABI"
END