#include "resourceMui.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table de-DE
//

STRINGTABLE 
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
BEGIN
    IDS_WINDOWTITLE             "solarTemperaturLoggerTool"
    IDS_COL0LABEL               "Lokale Zeit"
    IDS_COL1LABEL               "Temperatur in °C"
    IDS_WAITINGFORDATA          "Jetzt am solarTemperaturLogger 'Puffer senden' starten. Warte auf Daten ..."
    IDS_MSGBOXINFOTITLE         "Information"
    IDS_NOSERIALFOUND           "Keine COM-Ports gefunden"
    IDS_NOSERIALSELECTED        "Kein COM-Port ausgewählt"
    IDS_NOVALIDSERIALSELECTED   "Kein gültiger COM-Port ausgewählt"
    IDS_ERROROPEING             "Fehler beim Öffnen von"
    IDS_FAKECH340WARNING        "Fake CH340 mit Treiber neuer als 3.6.2021.12?"
    IDS_ERRORSERIALALLOCMEM     "Fehler bei Speicherallokierung für"
    IDS_ERRORADAPTERALLOCMEM    "Fehler bei Speicherallokierung für Adapterermittlung"
    IDS_INFOIMPORTFIRST         "Datensätze müssen importiert werden, bevor\ndiese als CSV-Datei gespeichert werden können"
    IDS_FILESAVEFILTER          "CSV Dateien (*.csv)\0*.csv\0Alle Dateien  (*.*)\0*.*\0\0"
    IDS_ERRORCOPYFILE           "Fehler beim Kopieren"
    IDS_TO                      "zu"
    IDS_FILE                    "Datei"
    IDS_WITH                    "ist mit" 
    IDS_BYTESTOGIG              "Bytes zu groß"
    IDS_ISNOT16BE               "ist nicht im UTF16 big endian Format"
    IDS_MSGBOXERRORTITLE        "Fehler"
    IDS_DATASETS                "Datensätze"
    IDS_MIN                     "Min"
    IDS_MAX                     "Max"
    IDS_AVG                     "Durchschnitt"
    IDS_ERRORGETFILESIZE        "Fehler bei Ermittlung der Dateigröße von"
    IDS_MENUIMPORT              "&Importieren"
    IDS_MENUSAVE	            "&Speichern"
    IDS_MENUOPENFOLDER	        "Programm&ordner öffnen"
    IDS_MENUINFO	            "Programmin&fomation"
    IDS_MENUEXIT	            "&Programm beenden"
    IDS_MENUUPDATESERIAL	    "&COM-Schnittstellen aktualisieren"
    IDS_MENUSTATICSERIAL	    "COM-Schnittstelle &1-20 anbieten"
    IDS_MENUDEVICEMANAGER	    "&Gerätemanager"
    IDS_MENUDATASETS	        "&Datensätze"
    IDS_MENUEXTRAS	            "&Extras"
    IDS_MENUCOPYSELECTED        "Ausgewählte Zeile &kopieren"
    IDS_TOOLTIPSERIALADAPTER    "Auswahl des seriellen Adapters, an dem der solarTemperaturLogger angeschlossen ist"
    IDS_LOG                     "Protokoll"
    IDS_ABORT                   "Abbrechen"
    IDS_ABORTPENDING            "Abbruch registriert. Warte auf Threadende"
    IDS_MSGBOXWARNINGTITLE      "Warnung"
    IDS_IMPORTTIMEOUT           "Timeout beim Import der Datensätze"
    IDS_IMPORTSERIALERROR       "Import der Datensätze bei seriell Übertragung fehlgeschlagen"
    IDS_IMPORTFILEERROR         "Import der Datensätze beim Speichern in Datei fehlgeschlagen"
    IDS_IMPORTABORTED           "Import der Datensätze abgebrochen"    
    IDS_TOOLTIPIMPORT           "Datensätze vom Gerät importieren"
    IDS_TOOLTIPSAVE             "Datensätze als CSV-Datei speichern"
    IDS_TOOLTIPPROGINFO         "Programminformation"
    IDS_TOOLTIPEXIT             "Programm beenden"
    IDS_TOOLTIPUPDATESERIAL     "Serielle Adapter aktualisieren"
    IDS_PROGINFO                "Datenübertragungstool für das\nsolarTemperaturLogger-Projekt\n\nhttps://github.com/codingABI/solarTemperatureLogger\n\n©2024 codingABI"
END